# CONFIG .gitignore

# Diretórios locais
.terraform/
security/

# Arquivos locais
configs/syspass-cloud-init.cfg
configs/syspass-network-config.cfg
.terraform.lock.hcl
backend.tf
plano-syspass
terraform.tfstate*
terraform.tfvars
